.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 2%;
}

.dialogItems .active {
    font-weight: bolder;
}

.messages {
    padding: 4%;
}

.message {

}