.nav {
    grid-area: n;
    background-color: aliceblue;
    grid-template-areas: "n" "n";
    padding: 5%;
}

.item  a{
    text-decoration: none;
    font-size: large;
    line-height: 1cm;
    margin-left: 65%;
    color: #2a5aff;
}

.item a.activeLink{
    color: darkblue;
}

.favoritFriends{
    font-size: large;
    line-height: 1cm;
    margin-top: 15%;
    margin-left: 65%;
}

.favoritFriendsHeader{
    color: darkorange;
}

