.app-wrapper {
    background-color: aliceblue;
    display: grid;
    margin: auto;
    grid-template-areas: "h h h" "n c nr";
    grid-template-rows: 45px 1fr;
    grid-template-columns: 25% 50% 25%;

    font-family: TimesNewRoman, "Times New Roman";
    /*grid-gap: 1px;*/
}

.app-wrapper-content{
    background-color: aliceblue;
}